#sidebar-wrapper {
	border-top-left-radius:30px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
	background-color: #2d62ec;
}

#page-content-wrapper {
    width: 100%;
}

.nav-link-menu {
	display:block;
	padding:.5rem 1rem
	font-weight: 500;
	color: #89b0ff;
	text-decoration: none;
}

.nav-link-menu .feather {
	text-decoration: none;
  margin-right: 4px;
  color: #89b0ff;
}

.nav-link-menu.active {
	text-decoration: none;
	border-left-style:solid;
	border-left-width: 10px;
	color: #fff;
	/* background-color: #3a62ca; */
}

.nav-link-menu:hover {
	color: #fff;
	text-decoration: none;
}

.nav-link-menu:hover .feather,
.nav-link-menu.active .feather {
  color: inherit;
  text-decoration: none;
}

.content-element {
	border-radius:10px;
}

.btn-order-table {
	background-color: #00ccf1; 
	color: #fff;
}

.btn-order-table:hover {
	background-color: #10c5e6; 
	color: #fff;
}

.user-pic {
	width: 60px;
	height: 60px;
	margin-right: 5px;
}

.cus-pic {
	width: 75px;
	height: 75px;
}

.best-seller-product-pic {
	border-radius: 15px;
	width: 100px;
	height: 70px;
}

.product-pic {
	border-radius: 15px;
	width: 60px;
	height: 60px;
}